
  
  .visaApplication-form-container {
    background-image: url('../../../assets/images/OJO4YQ0.jpg');

  }
  
  .visaApplication-title {
    color: #333333; /* Dark gray title color */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .visaApplication-form-group {
    margin-bottom: 10px;
    width: 50%;
  }
  .visaApplication-form-group-doc{
    

  }
  .visaApplication-form-row {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between;
  }
  .visaApplication-form-row-doc{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  
 

 
  .visaApplication-table th {
    background-color: #f2f2f2; /* Light gray background for table header */
  }
  
  .visaApplication-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Even rows background color */
  }
  
  .visaApplication-table tr:hover {
    background-color: #f0f0f0; /* Hover background color */
  }
  
  .document-add-btns {
    display: flex;
    justify-content: space-between;
}
input.visaApplication-input.form-control {
  width: 90%;
  border: 0.7px solid #3b3c36;
}
select.visaApplication-input.form-control {
  width: 90%;
  border: 0.7px solid #3b3c36;
}
button.btn.btn-danger.add-dcoument-danger {
  background: #e12912;
  font-size: 14px;
}