.visaApplication-container {
    background-color: #f8f9fa; /* Light gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .visaApplication-form-container {
    background-image: url('../../../assets/images/OJO4YQ0.jpg');
    background-color: #ffffff; /* White background */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
    padding: 40px;
    width: 95%; /* Adjust form width as needed */
  }
  
  .visaApplication-title {
    color: #333333; /* Dark gray title color */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .visaApplication-form-group {
    margin-bottom: 10px;
    width: 50%;
  }
  .visaApplication-form-group-doc{
    

  }
  .visaApplication-form-row {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between;
  }
  .visaApplication-form-row-doc{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .visaApplication-label {
    color: #333333; /* Dark gray label color */
    font-size: 16px;
    margin-bottom: 5px;
    width: calc(100% - 10px); /* Adjust label width as needed */
  }
  
  .visaApplication-input {
    border: 1px solid #ced4da; /* Light gray border */
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    width: calc(100% - 10px); /* Adjust input width as needed */
  }
  
  .visaApplication-submit-btn {
    background-color: #dc3545; /* Red submit button */
    border: none;
    border-radius: 5px;
    color: #ffffff; /* White button text */
    cursor: pointer;
    font-size: 16px;
    padding: 12px 20px;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .visaApplication-submit-btn:hover {
    background-color: #c82333; 
  }
  
  .visaApplication-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .visaApplication-table th, .visaApplication-table td {
    border: 1px solid #dddddd; /* Light gray border */
    padding: 8px;
    text-align: left;
  }
  
  .visaApplication-table th {
    background-color: #f2f2f2; /* Light gray background for table header */
  }
  
  .visaApplication-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Even rows background color */
  }
  
  .visaApplication-table tr:hover {
    background-color: #f0f0f0; /* Hover background color */
  }
  
  