/* Add this to your CSS file */
.employee-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
}
.Searchbar {
  width: auto;
  display: inline;
  margin-right: 20px;
}
label.table-bar-label {
  margin-right: 40px;
}

.employee-table th,
.employee-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
button.action-button.edit {
  background: #226600;
}
.create-account-dashboard {
  background: #0000008c;
  width: 100%;
  margin: auto;
  border-radius: 0px;
  padding: inherit;
  border: none;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 100% !important;
}
.create-account-dashboard h3 {
  font-size: 24px;
  color: #dd2817;
  padding-bottom: 10px 
;
}
button.close-buttonss {
  background: #dd2817;
  color: white;
  border: none;
  width: 35px;
  height: 35px;
  margin-bottom: 12px;
  border-radius: 50%;
  float: right;
  z-index: 9999999;
}
.create-dep-form {
  background: white;
  width: 50%;
  margin: auto;
  padding: 22px;
  border-radius: 5px;
  margin-top: 10%;
}
.form-button-dashboard {
  display: flex;
  justify-content: center;
}
button.btn.btn-primary.create {
  background: #1a8002;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
}

button.btn.btn-primary.cancel {
  background: #dd2817;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
}

.employee-table th {
  background-color: #f2f2f2;
}
button.action-button {
  background: #dd2817;
  border-radius: 5px;
  border: none;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
}
.edit-button {
  background-color: #4caf50;
  padding: 10px; /* Green color for edit button, customize as needed */
}

.delete-button {
  background-color: #f44336; /* Red color for delete button, customize as needed */
}


/* width */
.create-account-dashboard.create-country::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.create-account-dashboard.create-country::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
.create-account-dashboard.create-country::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
.create-account-dashboard.create-country::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
.create-account-dashboard.create-country {
  overflow: scroll;
  height: 400px;
  overflow-x: hidden;
}
.create-country-buttons {
  margin-bottom: 20px;
}
.create-account-dashboard.create-country {
  top: 0%;
  background: #0000008c;
  height: 100%;
}
.create-country-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.country-form-dashboard-form {
  background: white;
  width: 50%;
  margin: auto;
  border-radius: 5px;
  padding: 15px;
  height: 300px;
  margin-top: 10%;
  overflow: scroll;
  overflow-x: hidden;
}
.services-country {
  display: -webkit-inline-box;
}
.country-form-input.mb-3 {
  width: 48%;
}
.services-country {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
button.btn.btn-primary.btn-service-name {
  background: #dd2817;
  border: none;
  border-radius: 0px;
  margin-left: 4px;
  margin-right: 4px;
}
button.btn.btn-primary.btn-service-name:hover {
  background: #a31103;
}
button.btn.btn-primary.btn-cont-edit {
  background: #1e7e00;
  padding: 2px;
  padding-left: 14px;
  padding-right: 14px;
  border: none;
}
.country-services-card-category {
  width: 31%;
  margin: auto;
}
.row.services-country-card {
  display: flex !important;
  flex-wrap: wrap;
}
.create-dep-form.scrl-frm {
  overflow: scroll;
  overflow-x: hidden;
  height: 420px;
}