.slick-next{
    display: inline;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
}

.slick-prev{
    display: inline;
    z-index: 1;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
}

.slick-prev, .slick-next:hover{
    background-color: rgba(255, 0, 0, 0.676);
}