section.certificate-section {
    height: 600px;
    padding: 15px;
}
section.certificate-section h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
section.certificate-section h4 {
    text-align: center;
    color: #fe5141;
}
.certicate-images-services {
    display: flex;
}
img.certificate-img {
    width: 19%;
    margin: auto;
    display: block;
    border: 1px solid #fe514173;
    padding: 4px;
    margin-top: 20px;
}