footer {
    background: #dd2817;
    color: white;
    padding: 20px;
}
.footer-list li a {
    color: #ffffffc9 !important;
    font-size: 14px;
}

img.footer-logo {
    width: 50%;
}

h5.footer-menu-one {
    text-align: center;
}

.footer-list li {
    text-align: center;
}

.footer-list li a:hover {
    color: white !important;
}